:root {
  --main-heading-color: #022a4e;
  --accent-color: #32a4ab;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f4f4f4;
}

body {
  background: radial-gradient(
    ellipse at center,
    rgba(255, 254, 234, 1) 0%,
    rgba(255, 254, 234, 1) 35%,
    #b7e8eb 100%
  );
}

a {
  color: #333;
  text-decoration: none;
}

a:visited {
  color: #333;
}

header {
  width: min(90%, 1400px);
  margin: 0 auto;
}

.mobile-logo,
.hamburger,
.nav-mobile,
.first {
  display: none;
}
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.logo {
  width: 100%;
}

.logo > img {
  width: clamp(7rem, 6.5vw, 4rem);
  height: 100%;
  object-fit: contain;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-links > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  list-style: none;
}

.nav-links > ul > li {
  font-size: clamp(0.5rem, 1.5vw, 1rem);
  padding: 0 max(2rem, 0.5rem);
  font-weight: 500;
}

.log-demo {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  width: 100%;
  font-size: clamp(0.5rem, 1.5vw, 1rem);
}
.log-demo > button > a {
  font-size: clamp(0.5rem, 1.5vw, 1rem);
  color: #fff;
}
main {
  overflow: hidden;
}

.blob {
  position: absolute;
  z-index: -1;
  top: -20%;
  right: 0;
  opacity: 1;
}
.hero-container {
  width: min(90%, 1400px);
  margin: 0 auto;
  display: flex;
  height: 90%;
  min-height: 90vh;
  overflow: hidden;
}
.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}
.hero-title {
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-weight: 900;
  width: 14ch;
}

.hero-body {
  font-size: clamp(11px, 2vw, 18px);
  font-weight: 600;
  width: 50ch;
}

.left-side > * {
  margin-block: 1rem;
}

button {
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 25px;
  background-color: var(--accent-color);
  color: #fff;
  cursor: pointer;
}
button::before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  background-color: #fff;
  animation: shiny-btn1 5s ease-in-out infinite;
}

button:hover {
  cursor: pointer;
  transition: all 0.3s ease-in;
  filter: drop-shadow(0 0 0.75rem var(--accent-color));
  transform: scale(1.05) rotate(-1deg);
  backdrop-filter: blur(10px);
  transition: all 0.2s ease;
}

.left-side > button {
  width: max-content;
  padding-block: 1rem;
}

.right-side {
  display: flex;
  width: 100%;
}

.grid-1 {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 30%;
  padding: 1rem;
}

.image-1 {
  width: 90%;
  height: 100%;
  border-radius: 1rem;
  background-color: var(--accent-color);
  position: relative;
}
.image-1 > img {
  position: absolute;
  height: 600px;
  width: 600px;
  right: -25%;
  /* top: 32%; */
  bottom: -50%;
  object-fit: contain;
  /* padding: 1rem; */
  z-index: 1;
}

.grid-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  /* padding: 1rem; */
  gap: 1rem;
}

.img-2 {
  width: 100%;
  height: 20%;
  border-radius: 1rem;
  border: 1px solid transparent;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.img-3 {
  align-self: flex-start;
  width: 70%;
  height: 20%;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid transparent;
}
.ocean {
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #c4ecee;
  z-index: -1;
  opacity: 1;
}
.waves {
  position: absolute;
  width: 100%;
  overflow: hidden;
  /* top: 57.3%; */
  bottom: 0;
  margin-bottom: -15px;
  /*Fix for safari gap*/
  min-height: 90vh;
  max-height: 30em;
  z-index: -1;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.nav-links > ul > li > a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background-color: var(--accent-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-links > ul > li > a:hover:after {
  width: 100%;
  left: 0;
}

@media screen and (max-width: 1180px) {
  .hero-container {
    flex-direction: column;
    min-height: 100vh;
    /* background-color: springgreen; */
    margin-top: 5rem;
    overflow: hidden;
  }
  .waves {
    top: 15.3%;
    bottom: 0;
    /* margin-bottom: -15px; */
    /*Fix for safari gap*/
    min-height: 100vh;
    max-height: 100vh;
  }
  .left-side {
    padding: 0;
  }
  .hero-title {
    width: 100%;
    text-align: center;
  }
  .hero-body {
    text-align: center;
    margin: 0 auto;
  }

  .left-side > button {
    width: max-content;
    padding-block: 0.5rem;
    margin: 1rem auto;
    font-size: small;
  }
  .right-side {
    flex-direction: column;
  }
  .image-1 {
    display: none;
  }
  .nav-container {
    display: none;
  }

  .grid-2 {
    height: 60%;
    width: 80%;
    margin: 0 auto;
  }
  .img-3 {
    margin: 0 auto;
  }
  .mobile-logo {
    display: flex;
    position: absolute;
    height: min-content;
    width: 10%;
    z-index: 10;
  }
  .mobile-logo > a {
    height: min-content;
  }
  .mobile-logo > img {
    width: 20%;
    height: max-content;
    object-fit: contain;
  }

  .nav-mobile {
    width: 0;
    height: 100vh;
    background-color: #333;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    flex-direction: column;
    gap: 2rem;
    right: 0;
    visibility: hidden;
    transition: all 1s ease;
    overflow: hidden;
  }
  .first {
    display: block;
    content: "";
    position: absolute;
    width: 10%;
    height: 100vh;
    background-color: var(--accent-color);
    z-index: 3;
    right: 0;
    visibility: hidden;
    transition: all 0.5s ease;
  }
  .nav-mobile > a {
    font-family: var(--main-font-bold);
    color: #fff;
    font-size: 25px;
    font-weight: 900;
    transition: all 1s ease-in;
    opacity: 1;
  }

  .show-nav {
    width: 100%;
    visibility: visible;
  }

  /* Ham */
  #nav-icon1 {
    display: block;
    width: 50px;
    height: 45px;
    position: absolute;
    margin: 20px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    right: 5%;
    z-index: 25;
  }

  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 90%;
    background: var(--accent-color);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon1 span:nth-child(2) {
    top: 12px;
  }

  #nav-icon1 span:nth-child(3) {
    top: 24px;
  }

  #nav-icon1.open span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #nav-icon1.open span:nth-child(3) {
    top: 12px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .wave {
    width: 300vmin;
    overflow: hidden;
  }
}

.img-3 > img:hover,
.subject-2:hover {
  cursor: pointer;
  transition: all 0.3s ease-in;
  box-shadow: -5px -5px 15px var(--main-accent-color),
    5px 5px 20px var(--main-accent-color);
  transform: scale(1.2) rotate(-1deg);
}

@media screen and (max-width: 500px) {
  .mobile-logo {
    width: 30%;
  }
}
